button {
  border-radius: 7px;
  border-style: solid;
}

body {
  padding: 1rem;
}

.error {
  color: darkred;
}

table, th, td {
  border: 1px solid grey;
}

table input {
  max-width: 7rem;
}

label > input {
  margin-inline-start: 0.5rem;
}

.metadata-input {
  margin-block-end: 1.0rem;
}

.metadata-handler {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

#url-title {
  display: inline;
  margin: 0.5rem;
}

#description-input {
  max-width: 100%;
  min-width: 100%;
  min-height: 5rem;
}