:root {
    --background-color: hsl(from blue h calc(s - 90) calc(l - 27));
    --background-highlight-color: hsl(from var(--background-color) h s calc(l + 8));
    /* to set objects (buttons etc) apart from the background (body) */
    --foreground-color: hsl(from var(--background-color) h s calc(l - 4));
    --text-color: hsl(from white h s calc(l - 10));

    --success-color: hsl(from green h s calc(l + 10));
    --failure-color: hsl(from orangered h s calc(l + 10));
    
    --brand-color: hsl(from crimson h calc(s + 20) l);
  }

  
/* GLOBAL STYLES */
/* styles that are intended to be globally accessible by the "namespace" global */

.global-hidden {
  display: none;
}

.global-basic-button {
  border-radius: 0;
}

.global-flex-row {
  display: flex;
  flex-direction: row;
}

/* GLOBAL STYLES */

  
body {
  padding: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  user-select: text;
  * {
      user-select: inherit;
      background-color: inherit;
      color: inherit;
      box-sizing: border-box;
      
  }

  :not(div, h1, h2, h3, h4, h5, h6) {
    background-color: var(--foreground-color);
  }
}

/* for user-select setting */
button {
  user-select: none;
}


button {
  border-radius: 7px;
  border-style: solid;
  cursor: pointer;

  text-align: center;

  &:hover:not(:disabled) {
    border-color: var(--text-color);
  }

  &:disabled {
    color: hsl(from var(--text-color) h s l / 0.5);
    cursor: default;
  }
}

details {
  margin-block: 1rem;
  padding-inline: 0.5rem;
  border: 1px solid var(--text-color);

  &:open {

    padding-block-end: 1rem;;

    > summary {
        margin-block-end: 1rem;
        border-block-end: 1px solid var(--text-color);
    }
  }
}

hr {
  color: hsl(from var(--text-color) h s calc(l - 30));
}

label > input {
  margin-inline-start: 0.5rem;
}

table, th, td {
  border: 1px solid grey;
  text-align: center;
}

table input {
  max-inline-size: 7rem;
}

#url-title {
  display: inline;
  margin: 0.5rem;
}

#description-input {
  max-inline-size: 100%;
  min-inline-size: 100%;
  min-block-size: 5rem;
}
  
summary {
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  cursor: pointer;
}