/*
.*


# INCLUDE BACK
# ------------

# DIRECTORIES
# ------------

!src
!assets
!docs

# DIRECTORIES
# ============

# FILES
# ------------

!.gitignore

!public

!package.json
!pnpm-lock.yaml
!README.md
!tsconfig.json
!wxt.config.ts

!eslint.config.js

!apply_template.py
!zensical.toml

# FILES
# ============

# INCLUDE BACK
# ============