/*
.*


# INCLUDE BACK
# ------------

# DIRECTORIES
# ------------

!src
!assets

# DIRECTORIES
# ============

# FILES
# ------------

!.gitignore

!public

!package.json
!pnpm-lock.yaml
!README.md
!tsconfig.json
!wxt.config.ts

# FILES
# ============

# INCLUDE BACK
# ============