.domain-data-view-wrapper {
  .domain-data-view-list {
    --size: 15rem;
    block-size: var(--size);
    min-block-size: var(--size);
    max-block-size: var(--size);
    padding-block: 0.5rem;
    overflow-y: scroll;
  }

  .domain-data-view-input-update-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #domain-data-view-update {
    margin-block: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}