.notification.root.wrapper {


  .notification.message.wrapper {
      position: relative;
      min-block-size: 1.5rem;
      max-block-size: 1.5rem;
      overflow: hidden;
      max-inline-size: 100%;
      min-inline-size: 100%;

    
      > .notification.message {
        display: block;
        background-color: hsl(from var(--background-color) h s l / 0.7);
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-inline-size: 100%;
        max-inline-size: 100%;
        
        &.active {
            border: 1px solid red;
        }
      }
    
      &:is(:hover, :focus-within) {
        overflow: visible;
        > .notification.message {
          position: absolute;
          text-wrap: wrap;
          z-index: 1000;
        }
    
      }
  }

  .notification.dismiss {
    min-block-size: 1.5rem;
    max-block-size: 1.5rem;
    background-color: var(--background-color);
    inline-size: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}