.save-button.wrapper {
  transition: all 0.3s;
  &.success {
    border-color: var(--success-color);
    filter: drop-shadow(0px 0px 2px var(--success-color));
  }

  &.failure {
    border-color: var(--failure-color);
    filter: drop-shadow(0px 0px 2px var(--failure-color));
  }
}