.times-table-wrapper {

  .times-table-section-disable.enabled {
    border-inline-start-color: hsl(from var(--brand-color) h calc(s - 20) l);
    border-inline-start-width: 2px;
  }

  div.times-table {
    display: flex;
    flex-direction: column;
    min-width: 0;
  
    row-gap: 0.5rem;
  }
  
  button.times-table {
    width: 100%;
  }
  
  input.times-table {
    max-width: none;
    width: 100%;
  }

  table.times-table {
    width: 100%;
  }

}