.times-table.wrapper {

  div.times-table {
    display: flex;
    flex-direction: column;
    min-width: 0;
  
    row-gap: 0.5rem;
  }
  
  button.times-table {
    width: 100%;
  }
  
  input.times-table {
    max-width: none;
    width: 100%;
  }

  table.times-table {
    width: 100%;
  }

}